.formField {    
    width: 300px;
}

.button-login {
    margin-top: 10px;
    width: 300px;
}


.form {
    text-align: center;
    margin-top: 50px;
}

.prefix-icon {
    color: rgb(126, 126, 126);
}