<div class="form">
    <h1 *ngIf="!isAdmin">Cadastro</h1>
    <h1 *ngIf="isAdmin">Cadastrar novo Admin</h1>
    <form [formGroup]="cadastroForm" (submit)="cadastrar()">
        <mat-form-field appearance="outline" class="formField">
            <mat-label>Nome Completo</mat-label>
            <span matPrefix class="prefix-icon"><mat-icon>person</mat-icon></span>
            <input #emailInput formControlName="nome" matInput>
            <mat-error *ngIf="cadastroForm.get('nome').errors?.required">
                Nome é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="formField">
            <mat-label>Email</mat-label>
            <span matPrefix class="prefix-icon"><mat-icon>email</mat-icon></span>
            <input #emailInput formControlName="email" matInput>
            <mat-error *ngIf="cadastroForm.get('email').errors?.required">
                Email é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="cadastroForm.get('email').errors?.email">
                Email inválido
            </mat-error>
            <mat-error *ngIf="cadastroForm.get('email').errors?.emailTaken">
                Email já cadastrado
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="formField">
            <mat-label>Senha</mat-label>
            <span matPrefix class="prefix-icon"><mat-icon>lock</mat-icon></span>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="cadastroForm.get('password').errors?.required">
                Senha é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <button [disabled]="cadastroForm.invalid || cadastroForm.pending" mat-raised-button color="primary" class="cadastroButton" type="submit">Cadastrar</button>
    </form>
        <span *ngIf="!isAdmin">Já tem uma conta?<a mat-button color="primary" routerLink="/login">Entrar</a></span>
</div>