.nome {
    width: 100%;
}

.cep {
    width: 100%;
}

.uf {
    width: 100%;
}

.cidade {
    width: 100%;
}

.bairro {
    width: 100%;
}

.rua {
    width: 100%;
}

.numero {
    width: 100%;
}

.limitePessoas {
    width: 100%;
}

.telefone {
    width: 100%;
}

.status {
    width: 100%;
}